#chat-text {
  overflow: scroll;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: #fff;
  right: 2%;
  top: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: rgb(0, 89, 255);
  width: 100%;
  padding: 1%;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .title {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 225px;
  overflow-y: scroll;
}
.messages .message {
  clear: both;
  overflow: auto;
  margin-bottom: 5px;
  transition: all 0.5s linear;
}

.bottom_wrapper {
  width: 100%;
  background-color: rgb(0, 89, 255);
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
}

.messages > li {
  font-size: 15px;
  border-radius: 5px;
  width: fit-content;
}

.socket-status {
  color: rgb(0, 0, 0);
  background: #ffdf2c33;
  padding: 3px;
  margin: auto;
}

.bot-message {
  color: rgb(0, 0, 0);
  background: #f7a30675;
  float: left;
  text-align: left;
  padding: 3px;
}

.human-message {
  color: rgb(0, 0, 0);
  background: #1cb66175;
  float: right;
  text-align: right;
  padding: 3px;
}

.sender {
  padding: 0px;
  font-size: 10px;
  border-bottom: 1px white dotted;
}

p {
  margin: 0 0;
}